---
export const prerender = true;

import TypewriterText from '../components/TypewriterText.astro';
import Layout from '../layouts/Layout.astro';
import type { ContactInfo } from '../types';

const contacts: ContactInfo[] = [
  {
    name: "Office",
    email: "office@saltyarch.com"
  },
  {
    name: "Hadar",
    phone: "+972508833981",
    email: "hadar@saltyarch.com"
  },
  {
    name: "Motti",
    phone: "+972542893957",
    email: "office@saltyarch.com"
  },
  {
    name: "Shir",
    phone: "+972546257171",
    email: "shir@saltyarch.com"
  },
  {
    name: "Tamara",
    phone: "+972523738241",
    email: "tamara@saltyarch.com"
  }
];
---

<Layout title="Contact - Salty Architects">
  <div class="min-h-screen">
    <div class="list-container">
      <div class="list-header">
        <div class="list-title"></div>

        <div class="list-meta">
          <div class="meta-col-one">
            <TypewriterText shortText="T" fullText="TEL" />
          </div>
          <div class="meta-col-two">
            <TypewriterText shortText="E" fullText="EMAIL" />
          </div>
        </div>
      </div>

      {contacts.map((item, index) => (
        <div class="list-row" data-testid={`row-${index}`}>
          <div class="row-title">{item.name}</div>

          <div class="list-meta">
            <div class="meta-col-one">
              <span>T</span>{' '}
              {item.phone ? (
                <a
                  href={`tel:${item.phone}`}
                  class="hover:opacity-75 transition-opacity"
                >
                  {item.phone}
                </a>
              ) : ''}
            </div>

            <div class="meta-col-two">
              <span>E</span>{' '}
              <a
                href={`mailto:${item.email}`}
                class="hover:opacity-75 transition-opacity"
              >
                {item.email}
              </a>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</Layout>

<style>
  .list-container {
    color: #3D3D3D;
    margin-bottom: 80px;
  }
  .list-meta {
    display: flex;
  }
  .list-header, .list-row {
    display: flex;
    padding: 0 20px;
    min-height: 62px;
    border-bottom: 1px solid #3D3D3D;
  }
  .list-title, .row-title {
    flex: 1;
    line-height: 33px;
  }
  .meta-col-one {
    flex-shrink: 0;
    min-width: 235px;
    line-height: 33px;
  }
  .meta-col-two {
    flex-shrink: 0;
    min-width: 321px;
    line-height: 33px;
  }
  .list-row {
    min-height: 200px;
  }
  .meta-col-one a, .meta-col-two a {
    text-decoration: none;
  }
  @media (min-width: 768px) {
    .meta-col-one span, .meta-col-two span {
      display: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .meta-col-one {
      min-width: 235px;
    }
    .meta-col-two {
      min-width: 271px;
    }
  }
  @media (max-width: 768px) {
    .list-header {
      display: none;
    }
    .list-row {
      min-height: 180px;
      padding-top: 10px;
      align-items: flex-start;
    }
    .row-title {
      flex: unset;
      min-width: 80px;
      font-size: 16px;
      line-height: inherit;
    }
    .list-meta {
      flex-wrap: wrap;
    }
    .meta-col-one, .meta-col-two {
      flex: 1;
      gap: 16px;
      display: flex;
      font-size: 16px;
      min-width: 100%;
      align-items: center;
      line-height: inherit;
    }
  }
</style>